USE [mwocts]
GO
/****** Object:  Table [dbo].[division_operation]    Script Date: 16-Apr-26 10:50:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[division_operation](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[operation_id] [bigint] NOT NULL,
	[division_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[division_reason]    Script Date: 16-Apr-26 10:50:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[division_reason](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[reason_id] [bigint] NOT NULL,
	[division_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[divisions]    Script Date: 16-Apr-26 10:50:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[divisions](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[area_id] [bigint] NULL,
	[code] [nvarchar](10) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[status] [tinyint] NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fbdts]    Script Date: 16-Apr-26 10:50:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fbdts](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[area_id] [bigint] NULL,
	[tahun] [int] NOT NULL,
	[bulan] [smallint] NOT NULL,
	[fb] [float] NULL,
	[dt] [float] NULL,
	[mttr] [float] NULL,
	[mtbf] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[groups]    Script Date: 16-Apr-26 10:50:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[groups](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[area_id] [bigint] NULL,
	[name] [nvarchar](100) NOT NULL,
	[status] [tinyint] NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[informants]    Script Date: 16-Apr-26 10:50:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[informants](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[area_id] [bigint] NULL,
	[code] [nvarchar](10) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[status] [tinyint] NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[group_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[machine_part_sides]    Script Date: 16-Apr-26 10:50:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[machine_part_sides](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[machine_id] [bigint] NOT NULL,
	[part_id] [bigint] NOT NULL,
	[sort_order] [int] NOT NULL,
	[pos_x] [nvarchar](255) NOT NULL,
	[pos_y] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[machine_parts]    Script Date: 16-Apr-26 10:50:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[machine_parts](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[machine_id] [bigint] NOT NULL,
	[part_id] [bigint] NOT NULL,
	[sort_order] [int] NOT NULL,
	[pos_x] [nvarchar](255) NOT NULL,
	[pos_y] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[machine_position]    Script Date: 16-Apr-26 10:50:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[machine_position](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[position_id] [bigint] NOT NULL,
	[machine_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[machine_position_parts]    Script Date: 16-Apr-26 10:50:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[machine_position_parts](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[area_id] [bigint] NULL,
	[machine_id] [bigint] NULL,
	[position_id] [bigint] NULL,
	[part_id] [bigint] NULL,
	[serial_number] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[machine_progress]    Script Date: 16-Apr-26 10:50:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[machine_progress](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[machine_id] [bigint] NOT NULL,
	[data] [tinyint] NOT NULL,
	[position] [tinyint] NOT NULL,
	[operation] [tinyint] NOT NULL,
	[reason] [tinyint] NOT NULL,
	[image] [tinyint] NOT NULL,
	[part] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[machines]    Script Date: 16-Apr-26 10:50:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[machines](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[area_id] [bigint] NULL,
	[code] [nvarchar](30) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](max) NULL,
	[image] [nvarchar](255) NULL,
	[image_side] [nvarchar](255) NULL,
	[status] [tinyint] NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[operation_part]    Script Date: 16-Apr-26 10:50:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[operation_part](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[part_id] [bigint] NOT NULL,
	[operation_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[operation_reason]    Script Date: 16-Apr-26 10:50:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[operation_reason](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[operation_id] [bigint] NOT NULL,
	[reason_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[operations]    Script Date: 16-Apr-26 10:50:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[operations](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[area_id] [bigint] NULL,
	[code] [nvarchar](10) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[status] [tinyint] NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[part_reason]    Script Date: 16-Apr-26 10:50:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[part_reason](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[reason_id] [bigint] NOT NULL,
	[part_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[part_serial_numbers]    Script Date: 16-Apr-26 10:50:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[part_serial_numbers](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[area_id] [bigint] NULL,
	[part_id] [bigint] NULL,
	[serial_number] [nvarchar](255) NULL,
	[status] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[parts]    Script Date: 16-Apr-26 10:50:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[parts](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[area_id] [bigint] NULL,
	[code] [nvarchar](10) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](max) NULL,
	[status] [tinyint] NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[positions]    Script Date: 16-Apr-26 10:50:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[positions](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[area_id] [bigint] NULL,
	[name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](max) NULL,
	[status] [tinyint] NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[processing_technician]    Script Date: 16-Apr-26 10:50:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[processing_technician](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[processing_id] [bigint] NOT NULL,
	[technician_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[processings]    Script Date: 16-Apr-26 10:50:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[processings](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[area_id] [bigint] NOT NULL,
	[reporting_id] [bigint] NOT NULL,
	[parent_id] [bigint] NULL,
	[processing_date_start] [datetime] NOT NULL,
	[processing_date_finish] [datetime] NULL,
	[shift_id_start] [bigint] NOT NULL,
	[shift_id_finish] [bigint] NULL,
	[notes] [nvarchar](max) NULL,
	[is_active] [tinyint] NOT NULL,
	[status] [tinyint] NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[part_serial_number_id_new] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reasons]    Script Date: 16-Apr-26 10:50:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reasons](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[area_id] [bigint] NULL,
	[code] [nvarchar](10) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[division_id] [bigint] NULL,
	[status] [tinyint] NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 16-Apr-26 10:50:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[display_name] [nvarchar](255) NOT NULL,
	[guard_name] [nvarchar](255) NOT NULL,
	[area_id] [bigint] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[serial_number_logs]    Script Date: 16-Apr-26 10:50:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[serial_number_logs](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[area_id] [bigint] NULL,
	[machine_id] [bigint] NULL,
	[position_id] [bigint] NULL,
	[part_id] [bigint] NULL,
	[part_serial_number_id] [bigint] NULL,
	[updatedBy] [bigint] NULL,
	[updatedDate] [datetime] NOT NULL,
	[action] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[serial_numbers]    Script Date: 16-Apr-26 10:50:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[serial_numbers](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[area_id] [bigint] NULL,
	[machine_id] [bigint] NULL,
	[position_id] [bigint] NULL,
	[part_id] [bigint] NULL,
	[part_serial_number_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[shifts]    Script Date: 16-Apr-26 10:50:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[shifts](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[area_id] [bigint] NULL,
	[name] [nvarchar](100) NOT NULL,
	[time_start] [time](7) NULL,
	[time_finish] [time](7) NULL,
	[status] [tinyint] NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[target_models]    Script Date: 16-Apr-26 10:50:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[target_models](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[area_id] [bigint] NULL,
	[part_id] [bigint] NULL,
	[tahun] [int] NOT NULL,
	[bulan] [smallint] NOT NULL,
	[mtbf] [float] NULL,
	[mttr] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[targets]    Script Date: 16-Apr-26 10:50:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[targets](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[area_id] [bigint] NULL,
	[tahun] [int] NOT NULL,
	[bulan] [smallint] NOT NULL,
	[mtbf] [float] NULL,
	[mttr] [float] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[machine_id] [bigint] NULL,
	[position_id] [bigint] NULL,
	[part_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tat_tpds]    Script Date: 16-Apr-26 10:50:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tat_tpds](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[area_id] [bigint] NULL,
	[tanggal] [date] NOT NULL,
	[tat] [float] NULL,
	[tpd] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[technicians]    Script Date: 16-Apr-26 10:50:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[technicians](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[area_id] [bigint] NULL,
	[code] [nvarchar](10) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[division_id] [bigint] NULL,
	[status] [tinyint] NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[group_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_area]    Script Date: 16-Apr-26 10:50:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_area](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[area_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[machine_progress] ADD  DEFAULT ('0') FOR [data]
GO
ALTER TABLE [dbo].[machine_progress] ADD  DEFAULT ('0') FOR [position]
GO
ALTER TABLE [dbo].[machine_progress] ADD  DEFAULT ('0') FOR [operation]
GO
ALTER TABLE [dbo].[machine_progress] ADD  DEFAULT ('0') FOR [reason]
GO
ALTER TABLE [dbo].[machine_progress] ADD  DEFAULT ('0') FOR [image]
GO
ALTER TABLE [dbo].[machine_progress] ADD  DEFAULT ('0') FOR [part]
GO
ALTER TABLE [dbo].[part_serial_numbers] ADD  DEFAULT ('1') FOR [status]
GO
ALTER TABLE [dbo].[processings] ADD  DEFAULT ('1') FOR [is_active]
GO
ALTER TABLE [dbo].[division_operation]  WITH CHECK ADD  CONSTRAINT [division_operation_division_id_foreign] FOREIGN KEY([division_id])
REFERENCES [dbo].[divisions] ([id])
GO
ALTER TABLE [dbo].[division_operation] CHECK CONSTRAINT [division_operation_division_id_foreign]
GO
ALTER TABLE [dbo].[division_operation]  WITH CHECK ADD  CONSTRAINT [division_operation_operation_id_foreign] FOREIGN KEY([operation_id])
REFERENCES [dbo].[operations] ([id])
GO
ALTER TABLE [dbo].[division_operation] CHECK CONSTRAINT [division_operation_operation_id_foreign]
GO
ALTER TABLE [dbo].[division_reason]  WITH CHECK ADD  CONSTRAINT [division_reason_division_id_foreign] FOREIGN KEY([division_id])
REFERENCES [dbo].[divisions] ([id])
GO
ALTER TABLE [dbo].[division_reason] CHECK CONSTRAINT [division_reason_division_id_foreign]
GO
ALTER TABLE [dbo].[division_reason]  WITH CHECK ADD  CONSTRAINT [division_reason_reason_id_foreign] FOREIGN KEY([reason_id])
REFERENCES [dbo].[reasons] ([id])
GO
ALTER TABLE [dbo].[division_reason] CHECK CONSTRAINT [division_reason_reason_id_foreign]
GO
ALTER TABLE [dbo].[divisions]  WITH CHECK ADD  CONSTRAINT [divisions_area_id_foreign] FOREIGN KEY([area_id])
REFERENCES [dbo].[areas] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[divisions] CHECK CONSTRAINT [divisions_area_id_foreign]
GO
ALTER TABLE [dbo].[fbdts]  WITH CHECK ADD  CONSTRAINT [fbdts_area_id_foreign] FOREIGN KEY([area_id])
REFERENCES [dbo].[areas] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[fbdts] CHECK CONSTRAINT [fbdts_area_id_foreign]
GO
ALTER TABLE [dbo].[groups]  WITH CHECK ADD  CONSTRAINT [groups_area_id_foreign] FOREIGN KEY([area_id])
REFERENCES [dbo].[areas] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[groups] CHECK CONSTRAINT [groups_area_id_foreign]
GO
ALTER TABLE [dbo].[informants]  WITH CHECK ADD  CONSTRAINT [informants_area_id_foreign] FOREIGN KEY([area_id])
REFERENCES [dbo].[areas] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[informants] CHECK CONSTRAINT [informants_area_id_foreign]
GO
ALTER TABLE [dbo].[machine_part_sides]  WITH CHECK ADD  CONSTRAINT [machine_part_sides_machine_id_foreign] FOREIGN KEY([machine_id])
REFERENCES [dbo].[machines] ([id])
GO
ALTER TABLE [dbo].[machine_part_sides] CHECK CONSTRAINT [machine_part_sides_machine_id_foreign]
GO
ALTER TABLE [dbo].[machine_part_sides]  WITH CHECK ADD  CONSTRAINT [machine_part_sides_part_id_foreign] FOREIGN KEY([part_id])
REFERENCES [dbo].[parts] ([id])
GO
ALTER TABLE [dbo].[machine_part_sides] CHECK CONSTRAINT [machine_part_sides_part_id_foreign]
GO
ALTER TABLE [dbo].[machine_parts]  WITH CHECK ADD  CONSTRAINT [machine_parts_machine_id_foreign] FOREIGN KEY([machine_id])
REFERENCES [dbo].[machines] ([id])
GO
ALTER TABLE [dbo].[machine_parts] CHECK CONSTRAINT [machine_parts_machine_id_foreign]
GO
ALTER TABLE [dbo].[machine_parts]  WITH CHECK ADD  CONSTRAINT [machine_parts_part_id_foreign] FOREIGN KEY([part_id])
REFERENCES [dbo].[parts] ([id])
GO
ALTER TABLE [dbo].[machine_parts] CHECK CONSTRAINT [machine_parts_part_id_foreign]
GO
ALTER TABLE [dbo].[machine_position]  WITH CHECK ADD  CONSTRAINT [machine_position_machine_id_foreign] FOREIGN KEY([machine_id])
REFERENCES [dbo].[machines] ([id])
GO
ALTER TABLE [dbo].[machine_position] CHECK CONSTRAINT [machine_position_machine_id_foreign]
GO
ALTER TABLE [dbo].[machine_position]  WITH CHECK ADD  CONSTRAINT [machine_position_position_id_foreign] FOREIGN KEY([position_id])
REFERENCES [dbo].[positions] ([id])
GO
ALTER TABLE [dbo].[machine_position] CHECK CONSTRAINT [machine_position_position_id_foreign]
GO
ALTER TABLE [dbo].[machine_position_parts]  WITH CHECK ADD  CONSTRAINT [machine_position_parts_area_id_foreign] FOREIGN KEY([area_id])
REFERENCES [dbo].[areas] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[machine_position_parts] CHECK CONSTRAINT [machine_position_parts_area_id_foreign]
GO
ALTER TABLE [dbo].[machine_progress]  WITH CHECK ADD  CONSTRAINT [machine_progresses_machine_id_foreign] FOREIGN KEY([machine_id])
REFERENCES [dbo].[machines] ([id])
GO
ALTER TABLE [dbo].[machine_progress] CHECK CONSTRAINT [machine_progresses_machine_id_foreign]
GO
ALTER TABLE [dbo].[machines]  WITH CHECK ADD  CONSTRAINT [machines_area_id_foreign] FOREIGN KEY([area_id])
REFERENCES [dbo].[areas] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[machines] CHECK CONSTRAINT [machines_area_id_foreign]
GO
ALTER TABLE [dbo].[operation_part]  WITH CHECK ADD  CONSTRAINT [operation_part_operation_id_foreign] FOREIGN KEY([operation_id])
REFERENCES [dbo].[operations] ([id])
GO
ALTER TABLE [dbo].[operation_part] CHECK CONSTRAINT [operation_part_operation_id_foreign]
GO
ALTER TABLE [dbo].[operation_part]  WITH CHECK ADD  CONSTRAINT [operation_part_part_id_foreign] FOREIGN KEY([part_id])
REFERENCES [dbo].[parts] ([id])
GO
ALTER TABLE [dbo].[operation_part] CHECK CONSTRAINT [operation_part_part_id_foreign]
GO
ALTER TABLE [dbo].[operation_reason]  WITH CHECK ADD  CONSTRAINT [operation_reason_operation_id_foreign] FOREIGN KEY([operation_id])
REFERENCES [dbo].[operations] ([id])
GO
ALTER TABLE [dbo].[operation_reason] CHECK CONSTRAINT [operation_reason_operation_id_foreign]
GO
ALTER TABLE [dbo].[operation_reason]  WITH CHECK ADD  CONSTRAINT [operation_reason_reason_id_foreign] FOREIGN KEY([reason_id])
REFERENCES [dbo].[reasons] ([id])
GO
ALTER TABLE [dbo].[operation_reason] CHECK CONSTRAINT [operation_reason_reason_id_foreign]
GO
ALTER TABLE [dbo].[operations]  WITH CHECK ADD  CONSTRAINT [operations_area_id_foreign] FOREIGN KEY([area_id])
REFERENCES [dbo].[areas] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[operations] CHECK CONSTRAINT [operations_area_id_foreign]
GO
ALTER TABLE [dbo].[part_reason]  WITH CHECK ADD  CONSTRAINT [part_reason_part_id_foreign] FOREIGN KEY([part_id])
REFERENCES [dbo].[parts] ([id])
GO
ALTER TABLE [dbo].[part_reason] CHECK CONSTRAINT [part_reason_part_id_foreign]
GO
ALTER TABLE [dbo].[part_reason]  WITH CHECK ADD  CONSTRAINT [part_reason_reason_id_foreign] FOREIGN KEY([reason_id])
REFERENCES [dbo].[reasons] ([id])
GO
ALTER TABLE [dbo].[part_reason] CHECK CONSTRAINT [part_reason_reason_id_foreign]
GO
ALTER TABLE [dbo].[part_serial_numbers]  WITH CHECK ADD  CONSTRAINT [part_serial_numbers_area_id_foreign] FOREIGN KEY([area_id])
REFERENCES [dbo].[areas] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[part_serial_numbers] CHECK CONSTRAINT [part_serial_numbers_area_id_foreign]
GO
ALTER TABLE [dbo].[parts]  WITH CHECK ADD  CONSTRAINT [parts_area_id_foreign] FOREIGN KEY([area_id])
REFERENCES [dbo].[areas] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[parts] CHECK CONSTRAINT [parts_area_id_foreign]
GO
ALTER TABLE [dbo].[positions]  WITH CHECK ADD  CONSTRAINT [positions_area_id_foreign] FOREIGN KEY([area_id])
REFERENCES [dbo].[areas] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[positions] CHECK CONSTRAINT [positions_area_id_foreign]
GO
ALTER TABLE [dbo].[processing_technician]  WITH CHECK ADD  CONSTRAINT [processing_technician_processing_id_foreign] FOREIGN KEY([processing_id])
REFERENCES [dbo].[processings] ([id])
GO
ALTER TABLE [dbo].[processing_technician] CHECK CONSTRAINT [processing_technician_processing_id_foreign]
GO
ALTER TABLE [dbo].[processing_technician]  WITH CHECK ADD  CONSTRAINT [processing_technician_technician_id_foreign] FOREIGN KEY([technician_id])
REFERENCES [dbo].[technicians] ([id])
GO
ALTER TABLE [dbo].[processing_technician] CHECK CONSTRAINT [processing_technician_technician_id_foreign]
GO
ALTER TABLE [dbo].[processings]  WITH CHECK ADD  CONSTRAINT [processings_area_id_foreign] FOREIGN KEY([area_id])
REFERENCES [dbo].[areas] ([id])
GO
ALTER TABLE [dbo].[processings] CHECK CONSTRAINT [processings_area_id_foreign]
GO
ALTER TABLE [dbo].[processings]  WITH CHECK ADD  CONSTRAINT [processings_reporting_id_foreign] FOREIGN KEY([reporting_id])
REFERENCES [dbo].[reportings] ([id])
GO
ALTER TABLE [dbo].[processings] CHECK CONSTRAINT [processings_reporting_id_foreign]
GO
ALTER TABLE [dbo].[processings]  WITH CHECK ADD  CONSTRAINT [processings_shift_id_finish_foreign] FOREIGN KEY([shift_id_finish])
REFERENCES [dbo].[informants] ([id])
GO
ALTER TABLE [dbo].[processings] CHECK CONSTRAINT [processings_shift_id_finish_foreign]
GO
ALTER TABLE [dbo].[processings]  WITH CHECK ADD  CONSTRAINT [processings_shift_id_start_foreign] FOREIGN KEY([shift_id_start])
REFERENCES [dbo].[informants] ([id])
GO
ALTER TABLE [dbo].[processings] CHECK CONSTRAINT [processings_shift_id_start_foreign]
GO
ALTER TABLE [dbo].[reasons]  WITH CHECK ADD  CONSTRAINT [reasons_area_id_foreign] FOREIGN KEY([area_id])
REFERENCES [dbo].[areas] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[reasons] CHECK CONSTRAINT [reasons_area_id_foreign]
GO
ALTER TABLE [dbo].[reasons]  WITH CHECK ADD  CONSTRAINT [reasons_division_id_foreign] FOREIGN KEY([division_id])
REFERENCES [dbo].[divisions] ([id])
GO
ALTER TABLE [dbo].[reasons] CHECK CONSTRAINT [reasons_division_id_foreign]
GO
ALTER TABLE [dbo].[roles]  WITH CHECK ADD  CONSTRAINT [roles_area_id_foreign] FOREIGN KEY([area_id])
REFERENCES [dbo].[areas] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[roles] CHECK CONSTRAINT [roles_area_id_foreign]
GO
ALTER TABLE [dbo].[serial_number_logs]  WITH CHECK ADD  CONSTRAINT [serial_number_logs_area_id_foreign] FOREIGN KEY([area_id])
REFERENCES [dbo].[areas] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[serial_number_logs] CHECK CONSTRAINT [serial_number_logs_area_id_foreign]
GO
ALTER TABLE [dbo].[serial_numbers]  WITH CHECK ADD  CONSTRAINT [serial_numbers_area_id_foreign] FOREIGN KEY([area_id])
REFERENCES [dbo].[areas] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[serial_numbers] CHECK CONSTRAINT [serial_numbers_area_id_foreign]
GO
ALTER TABLE [dbo].[shifts]  WITH CHECK ADD  CONSTRAINT [shifts_area_id_foreign] FOREIGN KEY([area_id])
REFERENCES [dbo].[areas] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[shifts] CHECK CONSTRAINT [shifts_area_id_foreign]
GO
ALTER TABLE [dbo].[target_models]  WITH CHECK ADD  CONSTRAINT [target_models_area_id_foreign] FOREIGN KEY([area_id])
REFERENCES [dbo].[areas] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[target_models] CHECK CONSTRAINT [target_models_area_id_foreign]
GO
ALTER TABLE [dbo].[targets]  WITH CHECK ADD  CONSTRAINT [targets_area_id_foreign] FOREIGN KEY([area_id])
REFERENCES [dbo].[areas] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[targets] CHECK CONSTRAINT [targets_area_id_foreign]
GO
ALTER TABLE [dbo].[tat_tpds]  WITH CHECK ADD  CONSTRAINT [tat_tpds_area_id_foreign] FOREIGN KEY([area_id])
REFERENCES [dbo].[areas] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tat_tpds] CHECK CONSTRAINT [tat_tpds_area_id_foreign]
GO
ALTER TABLE [dbo].[technicians]  WITH CHECK ADD  CONSTRAINT [technicians_area_id_foreign] FOREIGN KEY([area_id])
REFERENCES [dbo].[areas] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[technicians] CHECK CONSTRAINT [technicians_area_id_foreign]
GO
ALTER TABLE [dbo].[technicians]  WITH CHECK ADD  CONSTRAINT [technicians_division_id_foreign] FOREIGN KEY([division_id])
REFERENCES [dbo].[divisions] ([id])
GO
ALTER TABLE [dbo].[technicians] CHECK CONSTRAINT [technicians_division_id_foreign]
GO
ALTER TABLE [dbo].[user_area]  WITH CHECK ADD  CONSTRAINT [user_area_area_id_foreign] FOREIGN KEY([area_id])
REFERENCES [dbo].[areas] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[user_area] CHECK CONSTRAINT [user_area_area_id_foreign]
GO
ALTER TABLE [dbo].[user_area]  WITH CHECK ADD  CONSTRAINT [user_area_user_id_foreign] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[user_area] CHECK CONSTRAINT [user_area_user_id_foreign]
GO
